---
http_interactions:
- request:
    method: post
    uri: https://frauddetector.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"detectorId":"registration","eventId":"12345678","eventTypeName":"registration","entities":[{"entityType":"user","entityId":"1345678"}],"eventTimestamp":"2023-06-08T20:23:24Z","eventVariables":{"email":"safe@example.org","ip_address":"1.2.3.4","registered_at":"2023-06-08T20:23:24Z"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWSHawksNestServiceFacade.GetEventPrediction
      X-Amz-Date:
      - 20230608T202524Z
      X-Amz-Content-Sha256:
      - bf0378d04798e2be912beabc7945431d07a67450a5d8d3c9aceeca1006e68477
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY>/20230608/us-east-1/frauddetector/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=6b4cda24e51f416f0b670c02b05c7440fc755187c97dee7766ceedfa08fe193e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 2c3ebaac-392d-4a26-b2de-e72a417b2485
    body:
      encoding: UTF-8
      string: '{"externalModelOutputs":[],"modelScores":[],"ruleResults":[{"outcomes":["allow"],"ruleId":"allow"}]}'
  recorded_at: Thu, 08 Jun 2023 20:25:24 GMT
recorded_with: VCR 6.1.0
