---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$attempted","request_token":"test|device:chrome_on_mac|policy.action:allow","params":{"email":"safe@example.org"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-08T21:12:01.336Z","sent_at":"2023-06-08T21:12:01.336Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"9629b6d018f75ce7c0522102980b7653"
    body:
      encoding: UTF-8
      string: '{"risk":0.32,"scores":{"account_abuse":{"score":0.32},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"1d588f98-54c6-412b-8985-d7c38047176d","revision_id":"","name":"test-f4bcef6c-6cdd-475d-88b6-2ad0869f0031"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Thu, 08 Jun 2023 21:12:01 GMT
- request:
    method: post
    uri: https://frauddetector.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"eventId":"1c47975f-a190-4832-8c31-2fe80964b12b","eventTypeName":"registration","eventTimestamp":"2023-06-08T21:11:01Z","eventVariables":{"email":"safe@example.org","ip_address":"127.0.0.1"},"assignedLabel":"legitimate","labelTimestamp":"2023-06-08T21:11:01Z","entities":[{"entityType":"user","entityId":"safe@example.org"}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWSHawksNestServiceFacade.SendEvent
      X-Amz-Date:
      - 20230608T211201Z
      X-Amz-Content-Sha256:
      - 9a63aa974bf1bf4c70c072cc8c3ab4cdc49da6a34c91d1b3f89559a2de71f518
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY>/20230608/us-east-1/frauddetector/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=bd2af2b568bdbfeac688dd47faf2ba988b99dade862d3dd9b516ff75748e87b3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 536a8586-54da-44ed-8668-77036256699b
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Jun 2023 21:12:01 GMT
recorded_with: VCR 6.1.0
