---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$attempted","request_token":"test|device:chrome_on_mac|policy.action:allow","params":{"email":"john@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-08T21:12:00.356Z","sent_at":"2023-06-08T21:12:00.356Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"e6af24b8727fa4e41fc64e2e30c95096"
    body:
      encoding: UTF-8
      string: '{"risk":0.32,"scores":{"account_abuse":{"score":0.32},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"92b842eb-5615-4e9d-bf60-28df3172d7be","revision_id":"","name":"test-4ff77e93-5f9a-40e6-93c2-f3d7facae0e3"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Thu, 08 Jun 2023 21:12:00 GMT
- request:
    method: post
    uri: https://frauddetector.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"eventId":"cda09ced-7f21-4b5d-8700-1ea0cb115678","eventTypeName":"registration","eventTimestamp":"2023-06-08T21:11:00Z","eventVariables":{"email":"john@example.com","ip_address":"127.0.0.1"},"assignedLabel":"legitimate","labelTimestamp":"2023-06-08T21:11:00Z","entities":[{"entityType":"user","entityId":"john@example.com"}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWSHawksNestServiceFacade.SendEvent
      X-Amz-Date:
      - 20230608T211200Z
      X-Amz-Content-Sha256:
      - ff9f6400d10ac26700b76ab0596f76fabf55e18b6534709af67317a0817680a4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY>/20230608/us-east-1/frauddetector/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=75aec72c470fffe36948eb3e0d8a34f27a73a633b564dd5d9603cc282477d1d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 59f887d2-904e-4b39-9148-0db7c1326c17
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Jun 2023 21:12:01 GMT
recorded_with: VCR 6.1.0
