---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$attempted","request_token":"test|device:chrome_on_mac|policy.action:allow","params":{"email":"duchess@example.gov"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-08T21:11:59.032Z","sent_at":"2023-06-08T21:11:59.032Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"1064618eef355d55e3d9e730ff138129"
    body:
      encoding: UTF-8
      string: '{"risk":0.32,"scores":{"account_abuse":{"score":0.32},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"94c8a46d-4d1b-47f0-9f8b-655bc9c23d93","revision_id":"","name":"test-97ac9eec-0878-4264-a949-c83017dc35e8"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Thu, 08 Jun 2023 21:11:59 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$succeeded","name":"","request_token":"test|device:chrome_on_mac|policy.action:allow","user":{"id":"950961012","email":"duchess@example.gov","name":"Sterling
        Archer","registered_at":"2023-06-08T21:11:57Z"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-08T21:11:59.741Z","sent_at":"2023-06-08T21:11:59.741Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"25f1537a584889cb4eaeb411c95d2a6f"
    body:
      encoding: UTF-8
      string: '{"risk":0.45,"scores":{"account_abuse":{"score":0.45},"account_takeover":{"score":0.26},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"3c956ed9-c5d3-4ad6-b75e-156e0f884556","revision_id":"","name":"test-86676332-9fa3-4149-a899-881dae088c82"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxME9Rd3NRSTdSWGtqZDBSOUpSa1QtQWZBLXgiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UVTJOVFUwTXpFIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.wg_Up8YFtiNc5Nf9kzso2V-pwlTADPdcaKSrXvNmpHo","fingerprint":null}}'
  recorded_at: Thu, 08 Jun 2023 21:12:00 GMT
recorded_with: VCR 6.1.0
