---
http_interactions:
- request:
    method: post
    uri: https://frauddetector.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"eventId":"802454d3-f7d8-482d-97e8-c4b6db9a0428","eventTypeName":"registration","eventTimestamp":"2023-06-08T20:52:44Z","eventVariables":{"email":"safe@example.org","ip_address":"1.2.3.4"},"assignedLabel":"legitimate","labelTimestamp":"2023-06-08T20:52:44Z","entities":[{"entityType":"user","entityId":"12345"}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWSHawksNestServiceFacade.SendEvent
      X-Amz-Date:
      - 20230608T205444Z
      X-Amz-Content-Sha256:
      - eed2a20c2a95d6716b8beebf6bf7bb5158869f93c45272e052bc76a1fa56b4ac
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY>/20230608/us-east-1/frauddetector/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=c62c24678492040b7b70aff739b89b2981f40a95a6c0ebddee2642bb328f78cb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 1eba35df-8e09-4294-a7f8-8db6992b839d
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Jun 2023 20:54:44 GMT
recorded_with: VCR 6.1.0
