---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$custom","status":"","name":"Created a micropost","request_token":"test|device:chrome_on_mac|policy.action:challenge","user":{"id":"762146111","email":"michael@example.com","name":"Michael
        Example","registered_at":"2023-06-06T21:47:02Z"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-06T21:47:04.062Z","sent_at":"2023-06-06T21:47:04.062Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"740e898afb5c8a954714ab3e8677df8d"
    body:
      encoding: UTF-8
      string: '{"risk":0.45,"scores":{"account_abuse":{"score":0.45},"account_takeover":{"score":0.26},"bot":{"score":0.13}},"signals":{},"policy":{"action":"challenge","id":"6ff2e781-7558-4638-a75b-190bfad967be","revision_id":"","name":"test-51f80d0d-1bcd-4736-b280-8ebfbdc1dc28"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxME9WQ2NRSTZON2tqZGphOUpSajkyQWZCaWQiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UVTJOVEkyTlRFIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.jLW6r_TbUVJKIW1iW-PEh9S7f3qM9BttndoQE_gh02E","fingerprint":null}}'
  recorded_at: Tue, 06 Jun 2023 21:47:04 GMT
- request:
    method: post
    uri: https://api.cloudflare.com/client/v4/accounts/a4bedc9e66fe2e421c76b068531a75a2/firewall/access_rules/rules
    body:
      encoding: UTF-8
      string: '{"configuration":{"target":"ip","value":"127.0.0.1"},"mode":"challenge"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Email:
      - "<CLOUDFLARE_API_EMAIL>"
      X-Auth-Key:
      - "<CLOUDFLARE_API_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "result": null,
          "success": false,
          "errors": [
            {
              "code": 10009,
              "message": "firewallaccessrules.api.duplicate_of_existing"
            }
          ],
          "messages": []
        }
  recorded_at: Tue, 06 Jun 2023 21:47:06 GMT
recorded_with: VCR 6.1.0
