---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$attempted","request_token":"test|device:chrome_on_mac|risk:1.0|policy.action:deny","params":{"email":"michael@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-06T21:38:01.408Z","sent_at":"2023-06-06T21:38:01.409Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"aa4668a0fc910377d0dc8469f288fd3b"
    body:
      encoding: UTF-8
      string: '{"risk":1.0,"scores":{"account_abuse":{"score":1.0},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"deny","id":"4f509f2e-fa67-4410-8451-39313695e12a","revision_id":"","name":"test-75309e52-0b15-4f41-940c-52a71d345867"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Tue, 06 Jun 2023 21:38:01 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$succeeded","name":"","request_token":"test|device:chrome_on_mac|risk:1.0|policy.action:deny","user":{"id":"762146111","email":"michael@example.com","name":"Michael
        Example","registered_at":"2023-06-06T21:37:42Z"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-06T21:38:01.950Z","sent_at":"2023-06-06T21:38:01.951Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"a9ba877f7ee93383536beebbcb9e495e"
    body:
      encoding: UTF-8
      string: '{"risk":1.0,"scores":{"account_abuse":{"score":1.0},"account_takeover":{"score":0.26},"bot":{"score":0.13}},"signals":{},"policy":{"action":"deny","id":"814ad6a5-d738-46b7-ad8f-85ec4ab9a713","revision_id":"","name":"test-82176715-85c4-4196-be70-f5f52395660d"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxME9WQ2NRSTZON2tqZGphOUpSajkyQWZCaWQiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UVTJOVEkyTlRFIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.jLW6r_TbUVJKIW1iW-PEh9S7f3qM9BttndoQE_gh02E","fingerprint":null}}'
  recorded_at: Tue, 06 Jun 2023 21:38:02 GMT
- request:
    method: post
    uri: https://api.cloudflare.com/client/v4/accounts/a4bedc9e66fe2e421c76b068531a75a2/firewall/access_rules/rules
    body:
      encoding: UTF-8
      string: '{"configuration":{"target":"ip","value":"127.0.0.1"},"mode":"block"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Email:
      - "<CLOUDFLARE_API_EMAIL>"
      X-Auth-Key:
      - "<CLOUDFLARE_API_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "result": null,
          "success": false,
          "errors": [
            {
              "code": 10009,
              "message": "firewallaccessrules.api.duplicate_of_existing"
            }
          ],
          "messages": []
        }
  recorded_at: Tue, 06 Jun 2023 21:38:03 GMT
recorded_with: VCR 6.1.0
