---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$attempted","request_token":"test|device:chrome_on_mac|policy.action:allow","params":{"email":"user@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-06T21:40:57.844Z","sent_at":"2023-06-06T21:40:57.844Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"bad86276a6dc30e953295c447ff59a29"
    body:
      encoding: UTF-8
      string: '{"risk":0.32,"scores":{"account_abuse":{"score":0.32},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"3b5f4c68-3268-4dcb-b5c1-f223ac192bc4","revision_id":"","name":"test-4581ef91-f673-4324-9faf-948c45fe38b0"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Tue, 06 Jun 2023 21:40:58 GMT
recorded_with: VCR 6.1.0
