---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$attempted","request_token":"test|device:chrome_on_mac|risk:0.0|policy.action:allow","params":{"email":"user@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-06T21:37:51.747Z","sent_at":"2023-06-06T21:37:51.747Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"4cd0c6595c8834171616414a2e748990"
    body:
      encoding: UTF-8
      string: '{"risk":0.0,"scores":{"account_abuse":{"score":0.0},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"a6ef63ce-6227-454e-a840-2f825a2acc5b","revision_id":"","name":"test-f02b8d71-6d57-4a40-afec-231c57db94ca"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Tue, 06 Jun 2023 21:37:52 GMT
recorded_with: VCR 6.1.0
