---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$attempted","request_token":"PzZndG1rakh4DF5lW2x9RwZZRUxUS29XDk4GaHp9c11KTXdwvUI5a1KEfdS-XPg3n-fDl9WSbI9qN_-0pCTmo6FKiJrxfPjng6oOtHIsVpq8GuyJsGgas_sj5gjDLmT6y1WP28hOyYKKH8af6U6F3spbicTMFMb-yluD24Rih9SEYLWX_A_Xh_se0-iTBsb21F-K0vNKhPzNW8mClxjIhJIPzvzse6v7iA-K3s9KxvDBTI3YjQ-u0sVLitLXXKXf1kCL0ose14SKH8iCkhjUmZUd0Jf3ToDW1kbJgpcYyISSQ-CDnRjU1cCk5iOsGdWGlRvQ1sGL8oaLHsmGnRjWm4Qe3IeUFdaHhG6rGKwvU5ZhhTt8pPznaieJAbdPLBH67s3531uFjDSnL-q64VqU2NRKyfvLQYLYyjvj0soCs-TkL-a3pC_mt6Qv5rekL-a3pC_mt6Qv5rekL-a3pC_mt6Qvpvfkb6b3pC_mt6Qv5rekL-a35C_mt6Qv5rekL-a3Wz8","params":{"email":"joe@example.org"},"context":{"ip":"127.0.0.1","headers":{"Version":"HTTP/1.1","Host":"127.0.0.1:52177","Connection":"keep-alive","Content-Length":"631","Cache-Control":"max-age=0","Sec-Ch-Ua":"\"HeadlessChrome\";v=\"113\",
        \"Chromium\";v=\"113\", \"Not-A.Brand\";v=\"24\"","Sec-Ch-Ua-Mobile":"?0","Sec-Ch-Ua-Platform":"\"macOS\"","Upgrade-Insecure-Requests":"1","Origin":"http://127.0.0.1:52177","User-Agent":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko)
        HeadlessChrome/113.0.5672.126 Safari/537.36","Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","Sec-Fetch-Site":"same-origin","Sec-Fetch-Mode":"navigate","Sec-Fetch-User":"?1","Sec-Fetch-Dest":"document","Referer":"http://127.0.0.1:52177/login","Accept-Encoding":"gzip,
        deflate, br","Cookie":true,"Remote-Addr":"127.0.0.1"}},"timestamp":"2023-06-04T13:43:34.778Z","sent_at":"2023-06-04T13:43:34.778Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"b332e74b9c4577f4a1ed7fd466450eb7"
    body:
      encoding: UTF-8
      string: '{"risk":0.0,"scores":{"account_abuse":{"score":0.0},"account_takeover":{"score":0.0},"bot":{"score":0.0}},"signals":{"bot_behavior":{},"headless_browser":{}},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":null,"fingerprint":"kA4R2QSdQXOYhceWw_9JoA"}}'
  recorded_at: Sun, 04 Jun 2023 13:43:35 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$succeeded","request_token":"PzZndG1rakh4DF5lW2x9RwZZRUxUS29XDk4GaHp9c11KTXdwvUI5a1KEfdS-XPg3n-fDl9WSbI9qN_-0pCTmo6FKiJrxfPjng6oOtHIsVpq8GuyJsGgas_sj5gjDLmT6y1WP28hOyYKKH8af6U6F3spbicTMFMb-yluD24Rih9SEYLWX_A_Xh_se0-iTBsb21F-K0vNKhPzNW8mClxjIhJIPzvzse6v7iA-K3s9KxvDBTI3YjQ-u0sVLitLXXKXf1kCL0ose14SKH8iCkhjUmZUd0Jf3ToDW1kbJgpcYyISSQ-CDnRjU1cCk5iOsGdWGlRvQ1sGL8o[...]
