---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$succeeded","request_token":"Fh9OXURCQ2FRJXdMckVUbi9wbGV9YkZ-J2cvQVNUWnRjZF5ZRfL-1tibU7u-Gc1zwU4-cJVtr7IpWajVlWaxwpAI3_vAPq-GsuhZ1UNuAfuNWLvogSpN0sphsWnybDOb-hfYuvkMnuO7XZH-2AzSv_sZ3qX9VpGf-xnUurUg0LW1IuL2zU2A5spchImiRJGX5R3ds8II0538GZ7jplqf5aNNmZ3dOfyauU3dv_4IkZHwDtq5vE35s_QJ3bPmHvK-5wLcs7pcgOW7XZ_jo1qD-KRfh_bGDNe35wSe46Zan-WjAbfirFqDtPHmsUKdW4LnpFmHt_DJpee6XJ7nrFqB-rVci-alV4HmtSz8eZ1tBPdQx2wdlb6wCxbLVtZ-bkab34-uvmrH21WWbb3b0BjDueUInpr6A9W5-3m0s_tA5IXVbbHWlW2x1pVtsdaVbbHWlW2x1pVtsdaVbbHWlW2x1pVt8ZbVLfGWlW2x1pVtsdaVbbHW1W2x1pVtsdaVbbHWahY","context":{"ip":"127.0.0.1","headers":{"Version":"HTTP/1.1","Host":"127.0.0.1:53173","Connection":"keep-alive","Content-Length":"631","Cache-Control":"max-age=0","Sec-Ch-Ua":"\"HeadlessChrome\";v=\"113\",
        \"Chromium\";v=\"113\", \"Not-A.Brand\";v=\"24\"","Sec-Ch-Ua-Mobile":"?0","Sec-Ch-Ua-Platform":"\"macOS\"","Upgrade-Insecure-Requests":"1","Origin":"http://127.0.0.1:53173","User-Agent":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko)
        HeadlessChrome/113.0.5672.126 Safari/537.36","Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","Sec-Fetch-Site":"same-origin","Sec-Fetch-Mode":"navigate","Sec-Fetch-User":"?1","Sec-Fetch-Dest":"document","Referer":"http://127.0.0.1:53173/login","Accept-Encoding":"gzip,
        deflate, br","Cookie":true,"Remote-Addr":"127.0.0.1"}},"user":{"id":"1046959424","registered_at":"2023-06-04T12:43:03.648Z","email":"joe@example.org","name":"Joe
        Bloggs"},"timestamp":"2023-06-04T12:43:04.838Z","sent_at":"2023-06-04T12:43:04.838Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"66ae4a1f9ecc2a3b6197bff77f728a15"
    body:
      encoding: UTF-8
      string: '{"risk":0.0,"scores":{"account_abuse":{"score":0.0},"account_takeover":{"score":0.0},"bot":{"score":0.0}},"signals":{"bot_behavior":{},"headless_browser":{}},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxME9MMnNRSTlnM2tqY1lKOUpmVlh5QWZHUFIiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UVTJOalkzT1RFIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.R9lsK-tNK82dVFISa2C2n-tLJ_L3PVdoaHu-0iEKq5E","fingerprint":"kA4R2QSdQXOYhceWw_9JoA"}}'
  recorded_at: Sun, 04 Jun 2023 12:43:05 GMT
[...]
