---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$attempted","request_token":"test|device:chrome_on_mac|risk:0.8|policy.action:block","params":{"email":"user@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-05T21:56:11.344Z","sent_at":"2023-06-05T21:56:11.345Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type":"invalid_request_token","message":"Invalid Request Token value:
        \npolicy_action: must be one of: none, allow, challenge, deny"}'
  recorded_at: Mon, 05 Jun 2023 21:56:11 GMT
recorded_with: VCR 6.1.0
