---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$attempted","request_token":"test|device:chrome_on_mac|risk:0.59|policy.action:allow","params":{"email":"user@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-05T21:36:01.957Z","sent_at":"2023-06-05T21:36:01.957Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"560edfec842295b3a4ace34bc57904d9"
    body:
      encoding: UTF-8
      string: '{"risk":0.59,"scores":{"account_abuse":{"score":0.59},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"c56a072f-3a18-4c77-955b-13997a9b9308","revision_id":"","name":"test-c6701fba-c16f-4169-bb40-f78a7a435885"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Mon, 05 Jun 2023 21:36:02 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$succeeded","name":"","request_token":"test|device:chrome_on_mac|risk:0.59|policy.action:allow","user":{"id":"1046959425","email":"user@example.com","name":"Example
        User"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-05T21:36:02.549Z","sent_at":"2023-06-05T21:36:02.549Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"6e4e707d3f59740083f7f5909ba295e5"
    body:
      encoding: UTF-8
      string: '{"risk":0.59,"scores":{"account_abuse":{"score":0.59},"account_takeover":{"score":0.26},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"f1f0d597-d1ee-465c-ae60-7db4363946f7","revision_id":"","name":"test-03933b83-f8f7-4f73-b31a-22f51a82caf9"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxM3A5QnNReEFOSGt0RERWOUxiMFJlQW03aWgiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UYzJORE15T0RjIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.A5Ap-hp6h70kUZwGPYTDdQooqY_ByEN2EVVqwlSbZbI","fingerprint":null}}'
  recorded_at: Mon, 05 Jun 2023 21:36:03 GMT
recorded_with: VCR 6.1.0
