---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$attempted","request_token":"test|device:chrome_on_mac|risk:0.0|policy.action:allow","params":{"email":"duplicateuser@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-05T21:35:57.239Z","sent_at":"2023-06-05T21:35:57.239Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"92e075ee874bcd3ce0bc7adc0d42b933"
    body:
      encoding: UTF-8
      string: '{"risk":0.0,"scores":{"account_abuse":{"score":0.0},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"66b32f8c-6699-461b-a040-b2278d04c285","revision_id":"","name":"test-56199975-d60e-4173-b226-0b93dd8d4266"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Mon, 05 Jun 2023 21:35:57 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$failed","request_token":"test|device:chrome_on_mac|risk:0.0|policy.action:allow","params":{"email":"duplicateuser@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-05T21:35:57.930Z","sent_at":"2023-06-05T21:35:57.931Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"a0a5dd2946ff95b59dde8d5fa5b55aa4"
    body:
      encoding: UTF-8
      string: '{"risk":0.0,"scores":{"account_abuse":{"score":0.0},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"458d4b33-7843-4e8a-97e6-781fef559f1c","revision_id":"","name":"test-f7becb8f-508f-42a9-840b-ce8408fe9d1d"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Mon, 05 Jun 2023 21:35:58 GMT
recorded_with: VCR 6.1.0
