---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$attempted","request_token":"test|device:chrome_on_mac|policy.action:allow","params":{"email":"user@invalid"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-06T21:37:44.318Z","sent_at":"2023-06-06T21:37:44.318Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"be5ac34ec447ae47642a97ca0f30d6ec"
    body:
      encoding: UTF-8
      string: '{"risk":0.32,"scores":{"account_abuse":{"score":0.32},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{"invalid_email":{}},"policy":{"action":"allow","id":"aa6abdc0-48cc-4e5d-83fd-519bb42e9715","revision_id":"","name":"test-5cf541fd-ba8d-49c7-8446-3a7041bcb77d"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Tue, 06 Jun 2023 21:37:44 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$failed","request_token":"test|device:chrome_on_mac|policy.action:allow","params":{"email":"user@invalid"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-06T21:37:44.925Z","sent_at":"2023-06-06T21:37:44.925Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"b59698b2f532a580b77a72b1ade97681"
    body:
      encoding: UTF-8
      string: '{"risk":0.32,"scores":{"account_abuse":{"score":0.32},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{"invalid_email":{}},"policy":{"action":"allow","id":"fb69898b-4e55-4d2f-a621-3d65cda89227","revision_id":"","name":"test-d72bbe2a-546f-49eb-9951-fab46c0a242c"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Tue, 06 Jun 2023 21:37:45 GMT
recorded_with: VCR 6.1.0
