---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$attempted","request_token":"test|device:chrome_on_mac|risk:1.0|policy.action:allow","params":{"email":"user@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-05T21:35:54.726Z","sent_at":"2023-06-05T21:35:54.726Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"912c4e483b3dc2173019cf2d83ce17a9"
    body:
      encoding: UTF-8
      string: '{"risk":1.0,"scores":{"account_abuse":{"score":1.0},"account_takeover":{"score":0.22},"bot":{"score":0.79}},"signals":{},"policy":{"action":"allow","id":"d000026b-9cac-4ff1-b44a-d6c266d245ea","revision_id":"","name":"test-6e462206-ff6e-4b9c-92e1-cda79624b2b0"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Mon, 05 Jun 2023 21:35:55 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$succeeded","name":"","request_token":"test|device:chrome_on_mac|risk:1.0|policy.action:allow","user":{"id":"1046959425","email":"user@example.com","name":"Example
        User"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-05T21:35:55.429Z","sent_at":"2023-06-05T21:35:55.429Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"b2337a2550ed85783630a880c1379458"
    body:
      encoding: UTF-8
      string: '{"risk":1.0,"scores":{"account_abuse":{"score":1.0},"account_takeover":{"score":0.26},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"6280642d-fe1a-4e72-aacc-ea233421511a","revision_id":"","name":"test-9c3d7104-f416-40dd-8c8b-1b99ec980b93"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxM3A5QnNReEFOSGt0RERWOUxiMFJlQW03aWgiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UYzJORE15T0RjIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.A5Ap-hp6h70kUZwGPYTDdQooqY_ByEN2EVVqwlSbZbI","fingerprint":null}}'
  recorded_at: Mon, 05 Jun 2023 21:35:56 GMT
- request:
    method: post
    uri: https://api.cloudflare.com/client/v4/accounts/a4bedc9e66fe2e421c76b068531a75a2/firewall/access_rules/rules
    body:
      encoding: UTF-8
      string: '{"configuration":{"target":"ip","value":"127.0.0.1"},"mode":"block"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Email:
      - "<CLOUDFLARE_API_EMAIL>"
      X-Auth-Key:
      - "<CLOUDFLARE_API_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "result": null,
          "success": false,
          "errors": [
            {
              "code": 10009,
              "message": "firewallaccessrules.api.duplicate_of_existing"
            }
          ],
          "messages": []
        }
  recorded_at: Mon, 05 Jun 2023 21:35:57 GMT
recorded_with: VCR 6.1.0
