---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$attempted","request_token":"test|device:chrome_on_mac|policy.action:allow","params":{"email":"duplicateuser@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-06T21:37:45.560Z","sent_at":"2023-06-06T21:37:45.560Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"bedef99fac87d4cd441b04a3794f5e42"
    body:
      encoding: UTF-8
      string: '{"risk":0.32,"scores":{"account_abuse":{"score":0.32},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"e6bae0f2-9ea7-4624-844b-38acd8a1bba3","revision_id":"","name":"test-ea8e7f81-8565-4978-921b-d3697ec039f6"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Tue, 06 Jun 2023 21:37:46 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$failed","request_token":"test|device:chrome_on_mac|policy.action:allow","params":{"email":"duplicateuser@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-06T21:37:46.182Z","sent_at":"2023-06-06T21:37:46.182Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"db79c6b1e53de5c16d55e7b10721cdd1"
    body:
      encoding: UTF-8
      string: '{"risk":0.32,"scores":{"account_abuse":{"score":0.32},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"dd336e68-1d9d-4dbc-9ae1-1e354ebb78f8","revision_id":"","name":"test-c7ae4186-25b4-46d6-8abb-a00caf35ca0b"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Tue, 06 Jun 2023 21:37:46 GMT
recorded_with: VCR 6.1.0
