---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$attempted","request_token":"c3orOCEnJgQ0QBIpFyAxC0oVCQAYByMbQgJKJDYxPxEGATs8EBDWzPJWPzv55QKvn_QLauiNSCdue5xC6IaFVe3o62y93psRzwhtQj6ONWzwuI9__Mp5RbeBhf6PjAcMh_fsLYTsqnTGvaVppezmKIb56jKAtqUIhvngLcjA5CLIwtZhsK20cbe8sB7fpKUAmP3pJL_o5wqB-ap027qrct6trQqg2cgNxK3pKIPopQaN7u4uwa3NJInp6SSb_sYpmuLoJMe8tHLGvat03rq3b9m_s2G77OMgmuSqdNu6q3Le4YN10bq3I4wGhdXgu7Zw2bmzII0pkXDHvKpw0bq1bci8v3HYt7VxyMzI7uCNMGAtJ1iK6F6EnGsrYkEDjnIMom-aKRcn78LrjYlMrfj3Lpjoqg2H4-EuhpmAJIag0BKojYVB6I2FQeiNhUHojYVB6I2FQeiNhUHojYVB6I2FQeiNxQGozcUB6I2FQeiNhUHojYVBqI2FQeiNhUHojYVBF3M","params":{"email":"user@example.com"},"context":{"ip":"127.0.0.1","headers":{"Version":"HTTP/1.1","Host":"127.0.0.1:49908","Connection":"keep-alive","Content-Length":"668","Cache-Control":"max-age=0","Sec-Ch-Ua":"\"HeadlessChrome\";v=\"113\",
        \"Chromium\";v=\"113\", \"Not-A.Brand\";v=\"24\"","Sec-Ch-Ua-Mobile":"?0","Sec-Ch-Ua-Platform":"\"macOS\"","Upgrade-Insecure-Requests":"1","Origin":"http://127.0.0.1:49908","User-Agent":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko)
        HeadlessChrome/113.0.5672.126 Safari/537.36","Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","Sec-Fetch-Site":"same-origin","Sec-Fetch-Mode":"navigate","Sec-Fetch-User":"?1","Sec-Fetch-Dest":"document","Referer":"http://127.0.0.1:49908/signup","Accept-Encoding":"gzip,
        deflate, br","Cookie":true,"Remote-Addr":"127.0.0.1"}},"timestamp":"2023-06-04T14:38:32.151Z","sent_at":"2023-06-04T14:38:32.152Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"b332e74b9c4577f4a1ed7fd466450eb7"
    body:
      encoding: UTF-8
      string: '{"risk":1.0,"scores":{"account_abuse":{"score":1.0},"account_takeover":{"score":0.22},"bot":{"score":0.98}},"signals":{"bot_behavior":{},"headless_browser":{}},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":null,"fingerprint":"kA4R2QSdQXOYhceWw_9JoA"}}'
  recorded_at: Sun, 04 Jun 2023 14:38:33 GMT
recorded_with: VCR 6.1.0
