---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$attempted","request_token":"test|device:chrome_on_mac|risk:0.5","params":{"email":"user@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-05T21:12:19.158Z","sent_at":"2023-06-05T21:12:19.158Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"23232514f5e69f8ca0a438e23ca96818"
    body:
      encoding: UTF-8
      string: '{"risk":0.5,"scores":{"account_abuse":{"score":0.5},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Mon, 05 Jun 2023 21:12:19 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$registration","status":"$succeeded","name":"","request_token":"test|device:chrome_on_mac|risk:0.5","user":{"id":"1046959425","email":"user@example.com","name":"Example
        User"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-05T21:12:19.757Z","sent_at":"2023-06-05T21:12:19.757Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"56a9f7ce3d99e876510f570d2ca45cd2"
    body:
      encoding: UTF-8
      string: '{"risk":0.5,"scores":{"account_abuse":{"score":0.5},"account_takeover":{"score":0.26},"bot":{"score":0.13}},"signals":{},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxM3A5QnNReEFOSGt0RERWOUxiMFJlQW03aWgiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UYzJORE15T0RjIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.A5Ap-hp6h70kUZwGPYTDdQooqY_ByEN2EVVqwlSbZbI","fingerprint":null}}'
  recorded_at: Mon, 05 Jun 2023 21:12:20 GMT
recorded_with: VCR 6.1.0
