---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$succeeded","request_token":"test|device:chrome_on_mac|risk:0.0","context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"user":{"id":"950961012","registered_at":"2023-06-04T12:43:03.000Z","email":"duchess@example.gov","name":"Sterling
        Archer"},"timestamp":"2023-06-04T12:43:08.174Z","sent_at":"2023-06-04T12:43:08.175Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"2bb8741a90d6e91f436fa566c4c435ab"
    body:
      encoding: UTF-8
      string: '{"risk":0.0,"scores":{"account_abuse":{"score":0.0},"account_takeover":{"score":0.26},"bot":{"score":0.15}},"signals":{},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxME9Rd3NRSTdSWGtqZDBSOUpSa1QtQWZBLXgiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UVTJOVFUwTXpFIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.wg_Up8YFtiNc5Nf9kzso2V-pwlTADPdcaKSrXvNmpHo","fingerprint":null}}'
  recorded_at: Sun, 04 Jun 2023 12:43:10 GMT
recorded_with: VCR 6.1.0
