---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$succeeded","request_token":"test|device:chrome_on_mac|risk:0.0","context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"user":{"id":"1046959424","registered_at":"2012-12-02T00:30:08.276Z","email":"joe@example.org","name":"Joe
        Bloggs"},"timestamp":"2023-06-04T12:43:11.535Z","sent_at":"2023-06-04T12:43:11.535Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"4382e388cbc658268a52bc8384b9f79b"
    body:
      encoding: UTF-8
      string: '{"risk":0.0,"scores":{"account_abuse":{"score":0.0},"account_takeover":{"score":0.23},"bot":{"score":0.15}},"signals":{},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxME9WRllRSTZNS2tqZGpHdEpmTGtHQWZCanMiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UVTJOVEkyT1RnIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.L-MGmGdaHMrGbVGSU0GSuJBQ4SFJZr0Ir275UGZMLJs","fingerprint":null}}'
  recorded_at: Sun, 04 Jun 2023 12:43:12 GMT
recorded_with: VCR 6.1.0
