---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/filter
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$attempted","request_token":"test|device:chrome_on_mac|risk:0.9","params":{"email":"michael@example.com"},"context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"timestamp":"2023-06-04T18:45:15.048Z","sent_at":"2023-06-04T18:45:15.048Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"d90010d7b134b218ad93797b04c7fd6d"
    body:
      encoding: UTF-8
      string: '{"risk":0.9,"scores":{"account_abuse":{"score":0.9},"account_takeover":{"score":0.22},"bot":{"score":0.15}},"signals":{},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":null,"fingerprint":null}}'
  recorded_at: Sun, 04 Jun 2023 18:45:15 GMT
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$succeeded","request_token":"test|device:chrome_on_mac|risk:0.9","context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"user":{"id":"762146111","registered_at":"2023-06-04T18:45:09Z","email":"michael@example.com","name":"Michael
        Example"},"timestamp":"2023-06-04T18:45:15.623Z","sent_at":"2023-06-04T18:45:15.623Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <BASIC_AUTH_ENCODED_CASTLE_API_SECRET>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"7875ae56450c97df87523d2125e8a90c"
    body:
      encoding: UTF-8
      string: '{"risk":0.9,"scores":{"account_abuse":{"score":0.9},"account_takeover":{"score":0.26},"bot":{"score":0.85}},"signals":{},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRxME9WQ2NRSTZON2tqZGphOUpSajkyQWZCaWQiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE5UVTJOVEkyTlRFIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.jLW6r_TbUVJKIW1iW-PEh9S7f3qM9BttndoQE_gh02E","fingerprint":null}}'
  recorded_at: Sun, 04 Jun 2023 18:45:16 GMT
- request:
    method: post
    uri: https://api.cloudflare.com/client/v4/accounts/a4bedc9e66fe2e421c76b068531a75a2/firewall/access_rules/rules
    body:
      encoding: UTF-8
      string: '{"configuration":{"target":"ip","value":"127.0.0.1"},"mode":"block"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Email:
      - "<CLOUDFLARE_API_EMAIL>"
      X-Auth-Key:
      - "<CLOUDFLARE_API_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "result": null,
          "success": false,
          "errors": [
            {
              "code": 10009,
              "message": "firewallaccessrules.api.duplicate_of_existing"
            }
          ],
          "messages": []
        }
  recorded_at: Sun, 04 Jun 2023 18:45:17 GMT
recorded_with: VCR 6.1.0
