---
http_interactions:
- request:
    method: post
    uri: https://api.castle.io/v1/risk
    body:
      encoding: UTF-8
      string: '{"type":"$login","status":"$succeeded","request_token":"test|device:chrome_on_mac|risk:1.0","context":{"ip":"127.0.0.1","headers":{"Remote-Addr":"127.0.0.1", "Version":"HTTP/1.0"}},"user":{"id":"ca1242f498","registered_at":"2012-12-02T00:30:08.276Z","email":"mgray@example.com","phone":"+1415232183","name":"Mike
        Gray","address":{"line1":"200 Fell St","line2":"Apt 1028","city":"San Francisco","postal_code":"94103","region_code":"CA","country_code":"US"},"traits":{"nationality":"US","birth_date":"1976-02-02"}},"authentication_method":{"type":"$password"},"properties":{"solved_captcha":true,"attempts":3},"timestamp":"2023-06-02T20:23:10.886Z","sent_at":"2023-06-02T20:23:10.886Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OkZNRW02MkN3cUtNTEtWVEZVRzhDRUVqUXd2cWhtM2g4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1'
      Etag:
      - W/"dfeaa1b46087cc68e7beb7a3720e8481"
    body:
      encoding: UTF-8
      string: '{"risk":1.0,"scores":{"account_abuse":{"score":1.0},"account_takeover":{"score":0.22},"bot":{"score":0.13}},"signals":{"bot_behavior":{},"high_activity_account":{},"proxy_ip":{}},"policy":{"action":"allow","id":"b7f26fb8-1e12-414d-a44e-7097c5c112b4","revision_id":"","name":"Default"},"device":{"token":"eyJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6InRsSWl0SW52RDBQVmJSdUR4UzQ0VnJSX1VQZ3oiLCJxdWFsaWZpZXIiOiJBUUlEQ2pJeE16VTVOamN6TmpVIiwiYW5vbnltb3VzIjpmYWxzZSwidmVyc2lvbiI6MC4zfQ.LWvtfnMTnnGXExhd9T5jE93szHVTt0fmFm4Kc_MxSZo","fingerprint":null}}'
  recorded_at: Fri, 02 Jun 2023 20:23:11 GMT
[...]
